.navlink:hover {
  background-color:lightblue;
  color: white !important;
}

.navlink:active {
  /* background-color:lightblue; */
  color: blue !important;
}

.nav-link:active {
  /* background-color:lightblue; */
  color: blue !important;
}